name: Clone and Test Another Repository

on:
  push:
    branches-ignore:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16 # Replace with the desired Node.js version

      - name: Clone Another Repository
        run: |
          git clone https://github.com/godspeedsystems/gs-test-project.git
          cd repo  # Change to the cloned repository directory
          npm install
          # Install dependencies or set up environment as needed

      - name: Run Tests
        run: |
          cd repo  # Change to the cloned repository directory
          npm run dev 
          npm run test
          # Run your tests or perform actions
